.dots-container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.container{
    position:relative;
    top: 25%;

}
.logo {
  margin-left: 10px;
}
.body{
  background-color: #152259;
width: 100%;
height: 100vh;
}
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-left: -15px;
}
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}
@keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #ffff;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #6793fb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }
  @media (max-width: 768px) {
    body {
      background-color: #152259;
      color: white;
    }
    .loader {
      position: relative;
      top: 24%;
      padding: 0px;
    }
    .loader h1 {
      font-size: 40px;
      line-height: 60px;
    }
    .dot {
      height: 20px;
      width: 20px;
      margin-right: 10px;
      border-radius: 30px;
      background-color: #ffff;
      animation: pulse 1.5s infinite ease-in-out;
    }
  }
  @media (max-width: 425px) {
    body {
      background-color: #152259;
      color: white;
    }
    .loader h1 {
      font-size: 30px;
      line-height: 40px;
    }
    .dot {
      height: 20px;
      width: 20px;
      margin-right: 10px;
      border-radius: 30px;
      background-color: #ffff;
      animation: pulse 1.5s infinite ease-in-out;
    }
  }
  .remember{
    position: relative;
    left: -40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.box{
  width: 10px;
}
  .Api-map-out h1{
    margin-left: 220px;
  }
  .Apis-map-out h1{
    top: 30px;
    margin-left: 220px;
  }
  .Apis-map-out ul li{
    top: 30px;
    margin-left: 220px;
  }
  .class-list ul li{
    margin-top: 30px;
    margin-left: 520px;
  }
  .formax button{
    
  }
.formax {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
height: 400px !important;
}
.formax input{
  margin-top: 60px;
}
.formax button{
  margin-left: 2px !important;
}